@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
body{
  font-family: 'Open Sans', sans-serif;
  background-image:url("../images/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg");;
  background-repeat:no-repeat;
  background-size: cover;
  font-size: 19px;
  line-height: 1.6;
  opacity: 0.9;
}

h1 {
  margin-bottom: 7px;
  color: #2D3142;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height:2;
  margin: -8px;
}

h2 {
  color: white;;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height:1.6;
}

a {
  text-decoration: none;
}

.list-social-network {
padding-left:0;
}

.list-social-network li {
  list-style:none;
  display:inline-block;
  padding: 15px;
}

.icones ol {
  display:inline-block;
}

.list-social-network i {
font-size: 40px;
color: #a3a2b2;
}

.list-social-network i:hover {
color: rgba(170, 170, 170, 0.6);
}

.card-white {
  background: white;
  box-shadow: 0px 10 px 30 px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 30px 30px;
  text-align: center;
  padding:30px;
  border: 1px solid lightgrey;
}


.card-white2 {
  background: rgba (255, 255, 255, 0.3);
  box-shadow: 0px 10 px 30 px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 5px 30px;
  text-align: center;
  padding:0.5px;
}




div {
  display: block;
}

.btn-blue {
  background-color: #75b79e;
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 600;
}

.btn-blue:hover {
  background-color: rgba(170, 170, 170, 0.6);
}

.text-center{
  text-align: justify;
}

.img-circle {
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 40px auto;
}


.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 370px;
  }
}
